* {
    margin: 0;
    padding: 0;
}

body {
    background-color: silver;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 10vh;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
}

.tabs label {
    display: block;
    order: 1;
    background: cyan;
    border-radius: 5px 5px 0 0 ;
    font-weight: bold;
    padding: 16px 32px;
    margin-right: 4px;
    transition: background ease .0.2s;
    cursor: pointer;
}

.tabs .tab {
    display: none;
    width: 100%;
    order: 99;
    flex-grow: 1;
    background: white;
    border-radius: 0 0 5px 5px;
    padding: 16px;
}

.circle {
    position: relative;
    overflow: hidden;
}

.circle.circle1 {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 50%;
    margin: 20px;
}

.tabs input {
    display: none;
}

.tabs input:checked + label {
    background: white;
}

.tabs input:checked + label + .tab {
    display: block;
}

@media (max-width: 770px){
    .tabs label,
    .tabs .tab {
        order: initial;
    }

    .tabs label {
        width: 100%;
        margin: 0 4px 0 0;

    }
}